body {
  padding: 0;
  font: 11pt "Open Sans", "Liberation sans", "Noto sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

hr {
  border-top: 1px solid #000;
}

h1 {
  /* text-align: center; */
  font-size: 3em;
  margin-bottom: 0em;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 1em;
}

#footer {
  text-align: center;
}

a {
  /* color: #00B7FF; */
  color: #333333;
}

a.external {
  color: #00B7FF;
  text-decoration: none;
}
a.external:hover {
  color: #00B7FF;
  text-decoration: underline;
}

.main-text p {
  font-size: 1.2em;
  line-height: 1.4em;
}

.orcid-text {
  color: #666;
  font-size: 0.9em;
  margin-top: 3em;
}

.toggle-text {
  color: #666;
  font-size: 0.9em;
}

.orcid-box {
  text-align: center;
  margin-bottom: 4em;
}

.toggle-signatories {
  margin-bottom: 2em;
}

.user-list {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 2em;
  padding: 0em;
  margin-top: 1.5em;
}

.sign {
  margin-top: 3em;
  margin-bottom: 4em;
}
.remove {
  margin-top: 0em;
  margin-bottom: 4em;
}

.extra-margin {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.extra-margin-half {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

div.results ul {
  margin: 0;
  padding: 0;
}

div.results ul li {
  margin: 0;
  padding: 0;
  list-style: none;;
}

.center {
  text-align: center;
}

.action_text a {
  color: #00B7FF;
  text-decoration: none;
}
.action_text a:hover {
  color: #00B7FF;
  text-decoration: underline;
}

.header{
  background-color: #002c40;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2em;
  padding-bottom: 4em;
}
.header a {
  color: white;
    text-decoration: none;
}
.header a:hover {
  color: white;
    text-decoration: underline;
}

.footer {
  margin-top: auto;
  background-color: #666;
  color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2em;
  padding-bottom: 3em;
}
.footer a {
  color: white;
    text-decoration: none;
}
.footer a:hover {
  color: white;
    text-decoration: underline;
}
