{% extends "base.html" %}

{% block title %}Signatories - Home{% endblock %}
{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block content %}
<div>
  <p><i>
  <b>Signatories</b> is a simple web-based application that allows a person to sign
  an open letter, a letter of support, an online petition, a statement, or a
  declaration. Designed for academics, signing is accomplished by authenticating
  with an Open Researcher and Contributor ID account
  (<a href="https://orcid.org" target="_blank">ORCID</a>).
  </i></p>
  <p><i>
  An ORCID account may sign a campaign at most once, and anonymous participants
  (when allowed) are assured to have an ORCID account. Signatories may choose to
  add their professional affiliation, and they can modify their preferences or
  remove their signature any time after signing. When a signatory's name is
  visible, any public visitor may click on it to inspect their ORCID profile.
  </i></p>
  <p><i>
  If you would like to create a campaign, please contact us by
  <a href="mailto:{{ contact_email }}">email</a> and provide us with your ORCID iD.
  </i></p>
</div>

{% if show_examples is true %}
<div>
  <center>
    <p class="divider">*&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;*</p>
    <h2 class="action-list-header"><b>Examples</b></h2>
</center>
</div>

<div class="campaign-list">
    {% for name, desc in campaigns.items() %}
    {% if name == "demo" or name == "demo-no-anonymous" %}
    <a href="{{ desc[2] }}" style="text-decoration: none;">
    <div class="campaign-card">
    <p class="campaign-entries">
        <b>{{ desc[0] | safe }}</b>
    </p>
    <table class="campaign-card-table">
      <tr>
        <td style="width: 10em;">
          <p class="campaign-metadata">
            Created: {{ desc[3].date() }}<br />
            Signatories: {{ desc[4] }}
          </p>
        </td>
        <td>
          <p class="campaign-metadata" style="color: #333;">
            {{ desc[1] | striptags() | safe | truncate(450) }}
          </p>
        </td>
      </tr>
    </table>
    </div>
    </a>
    {% endif %}
    {% endfor %}

</div>
{% endif %}

<div>
    <center>
      <p class="divider">*&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;*</p>
      <h2 class="action-list-header"><b>Active Campaigns</b></h2>
  </center>
</div>

<div class="campaign-list">
    {% for name, desc in campaigns.items() %}
    {% if name != "demo" and name != "demo-no-anonymous" %}
    <a href="{{ desc[2] }}" style="text-decoration: none;">
    <div class="campaign-card">
    <p class="campaign-entries">
        <b>{{ desc[0] | safe }}</b>
    </p>
    <table class="campaign-card-table">
      <tr>
        <td style="width: 10em;">
          <p class="campaign-metadata">
            Created: {{ desc[3].date() }}<br />
            Signatories: {{ desc[4] }}
          </p>
        </td>
        <td>
          <p class="campaign-metadata" style="color: #333;">
            {{ desc[1] | striptags() | safe | truncate(450) }}
          </p>
        </td>
      </tr>
    </table>
    </div>
    </a>
    {% endif %}
    {% endfor %}
    {% if campaigns.items() | length == 2 %}
    <p class="campaign-entries">None</p>
    {% endif %}
</div>

{% endblock %}
